
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<section>
    <h2>Ação:</h2>
    <ul>
        <li>@Html.ActionLink("Cadastro de Tecidos", "Index", "Cadastro")</li>
        <li>@Html.ActionLink("Consulta de Tecidos", "Index", "Consulta")</li>
    </ul>
</section>